.dashboard-container {
  margin-left: 20vw;
  padding: 30px;
  background-color: #f8fafc;
  min-height: 100vh;
}

.dashboard-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 25px;
}

.dashboard-data {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-card {
  width: 180px;
  height: 130px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard-card:hover {
  cursor: pointer;
}

.dashboard-card h3 {
  font-size: 16px;
  color: #1e293b;
  margin-bottom: 10px;
}

.dashboard-card p {
  font-size: 32px;
  font-weight: bold;
  color: #2c3e50;
}

.dashboard-card.min {
  border: 1px solid red;
}

.dashboard-card.max {
  border: 1px solid green;
}

.chart-container {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chart-container h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

@media (max-width: 480px) {
  .dashboard-container {
    margin: 0px;
    background-color: #f8fafc;
    width: 100vw;
  }

  .dashboard-data {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .dashboard-card {
    width: 160px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chart-container {
    width: 90%;
    background: #ffffff;
    padding: 0px;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
}
