.productList {
  margin-left: 20vw;
  padding: 20px;
}

.productList h1 {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

img {
  width: 100px;
  height: 100px;
}

button:hover {
  background-color: green;
  cursor: pointer;
}

@media (max-width: 480px) {
  .productList {
    margin-left: 0px;
    padding: 0px;
  }
}
