.userList {
  margin-left: 20vw;
  padding: 20px;
}
.userList h1 {
  text-align: center;
}

table {
  border: 1px solid black;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 10px;
}

@media (max-width: 480px) {
  .userList {
    margin-left: 0px;
    padding: 0px;
  }
}
