.navbar {
  background-color: aquamarine;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}
.navbar-logo {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
}
.navbar-search input {
  width: 40vw;
  height: 30px;
  border-radius: 5px;
}
.navbar-search button {
  padding: "10px 15px";
  height: 30px;
  color: "white";
  border: "none";
  border-radius: "5px";
  cursor: pointer;
}

.navbar-right {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  font-size: 30px;
}
.navbar-right:hover {
  cursor: pointer;
}
.navbar-right button {
  background-color: blue;
  color: aliceblue;
  border-radius: 5px;
  font-size: 30px;
}

.navbar-down,
.navbar-bottom {
  display: none;
}

@media (max-width: 480px) {
  .navbar-down {
    background-color: aquamarine;
    height: 50px;
    width: 96vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    position: fixed;
    bottom: 0px;
    z-index: 1;
  }
  .navbar .navbar-right {
    display: none;
  }
  .navbar-bottom {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
  }
}
